@page "/home"

<AuthorizeView Roles="Administrator, Manager">
    <h3>Home Page manager</h3>
</AuthorizeView>
<AuthorizeView Roles="Administrator, Developer">
    <h3>Home page developer</h3>
</AuthorizeView>



@code {
  
  
  
    
}