@* @page "/" *@

<AuthorizeView>
    <Authorized>
        <h1>Welcome, @context.User.Identity.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome</h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to your new app.


